<a href="https://colab.research.google.com/github/gunjanghrc/gunjanghrc/blob/main/Practical_2_MLA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [17]:
import numpy as np
import pandas as pd
import matplotlib as plt
suv=pd.read_csv("/content/suv_data.csv")
suv
from sklearn.model_selection import train_test_split 
from sklearn.preprocessing import StandardScaler

In [9]:
suv.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [10]:
suv.isnull().sum()
#for check Null value in any coloum

User ID            0
Gender             0
Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [11]:
X = suv.iloc[:,[2,3]].values #Age and Salary(Dependent Variable)
Y = suv.iloc[:,4].values #Purches(Independent Variablr)

In [ ]:
X # Display Value X - Age & Salary

In [ ]:
Y #Display Value Y - Purchased

In [19]:
X_train, X_test, Y_train, Y_test = train_test_split(X,Y,test_size = 0.25, random_state = 0)

In [21]:
st_X= StandardScaler()
X_train = st_X.fit_transform(X_train)
X_test = st_X.fit_transform(X_test)

In [22]:
X.shape

(400, 2)

In [23]:
X_train.shape

(300, 2)

In [24]:
X_test.shape

(100, 2)

In [25]:
Y.shape

(400,)

In [26]:
Y_train.shape

(300,)

In [27]:
Y_test.shape

(100,)